<html>

<body>

  <h1>{{restaurant.name}}</h1>

  <!--MESSAGE FLASHING EXAMPLE -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}

  <ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <a href='/restaurants/{{restaurant_id}}/new/'>Create new item</a>

  {% for i in items %}

  <div>

    <p>{{i.name}}</p>

    <p>{{i.description}}</p>

    <p> {{i.price}} </p>

    <a href='/restaurants/{{i.restaurant_id}}/{{i.id}}/edit/'>Edit</a>
    <a href='/restaurants/{{i.restaurant_id}}/{{i.id}}/delete/'>Delete</a>

  </div>


  {% endfor %}
</body>

</html>
